.hero-block {
  position: relative;
  margin: 65px 0 65px 0;
}

.hero-block .carousel-item:before {
  content: '';
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero-block .carousel-item img {
  width: 100%;
}

.hero-block .carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 25%;
  right: 25%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  bottom: 50%;
}

.hero-block h3 {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 30px;
  text-align: center;
  color:#fff;
}

.hero-block p {
  margin: 0 0 30px;
  color: #ababab;
  text-align: center;
  width: 80%;
}

.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
}

.title {
  animation-name: title;
  position: relative;
  animation-duration: 1.5s;
}

@keyframes title {
  0% {left: -150px; top: -300px;}
  100% { left:0px; top:0px;}
}